.input input {
    border: 2px solid #4263A9;
    padding: 10px;
    background: transparent;
    height: 22px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.input input::placeholder {
    color: #4263A9;
}

.input input:focus,
.input input:active {
    outline: none;
    background: white;
    color: #4263A9;
}