.today_weather__item {
    height: 100%;
    width: 120px;
    position: relative;
    padding: 0 20px;
    margin-right: 30px;
}
.today_weather__item:last-of-type {
    margin: 0;
}
.today_weather__item.active {
    width: 150px;
    margin-right: 40px;
}
.today_weather__item.active:before {
    content: '';
    top: -114px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 1;
    background: white;
}
.today_weather__item.active:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -100px;
    background-color: #fff;
    transform: skewY(-10deg);
    transform-origin: 0;
    z-index: -1;
}
.today_weather__item.active * {
    position: relative;
    z-index: 10;
}
.today_weather__item .now {
    font-size: 14px;
    font-weight: bold;
    color: #4263A9;
}
.today_weather__item .time {
    font-size: 20px;
    font-weight: bold;
    color: #2F5098;
}
.today_weather__item .time.pt {
    margin-top: 17px;
}
.today_weather__item .tempBlock {
    display: flex;
    flex-grow: 1;
}
.today_weather__item .tempBlock .temp {
    font-weight: bold;
    font-size: 72px;
    color: white;
    letter-spacing: -4px;
}
.today_weather__item.active .tempBlock .temp {
    color: #4372D7;
}
.today_weather__item .tempBlock .typeTemp {
    color: white;
    font-size: 55px;
    font-weight: bold;
    margin-top: 7px;
}
.today_weather__item.active .tempBlock .typeTemp {
    color: #4372D7;
}

.today_weather__item .icon {
    height: 50px;
}

.today_weather__item .icon .icon01d {
    background-color: white;
    width: 100%;
    height: 100%;
    -webkit-mask: url('../../../images/icons/01d.svg') no-repeat center center;
    mask: url('../../../images/icons/01d.svg') no-repeat center center;
}
.today_weather__item .icon .icon02d {
    background-color: white;
    width: 100%;
    height: 100%;
    -webkit-mask: url('../../../images/icons/02d.svg') no-repeat center center;
    mask: url('../../../images/icons/02d.svg') no-repeat center center;
}
.today_weather__item .icon .icon10d {
    background-color: white;
    width: 100%;
    height: 100%;
    -webkit-mask: url('../../../images/icons/10d.svg') no-repeat center center;
    mask: url('../../../images/icons/10d.svg') no-repeat center center;
}
.today_weather__item .icon .icon11d {
    background-color: white;
    width: 100%;
    height: 100%;
    -webkit-mask: url('../../../images/icons/11d.svg') no-repeat center center;
    mask: url('../../../images/icons/11d.svg') no-repeat center center;
}
.today_weather__item.active .icon .icon01d {
    background-color: #426FD7;
}
.today_weather__item.active .icon .icon02d {
    background-color: #426FD7;
}
.today_weather__item.active .icon .icon10d {
    background-color: #426FD7;
}
.today_weather__item.active .icon .icon11d {
    background-color: #426FD7;
}